/* Page sur fond gris */
body {
  background-color: grey;
}

/* Conteneur de la page */
#container {
  /* Fond blanc */
  background-color: white;
  /* Taille maximale de 768px, centré horizontalement */
  max-width: 768px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-areas:
    "hd hd"
    "mn sd"
    "ft ft";
}

main {
  grid-area: mn;
}
